<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Penguin's Emporium</title>
        <link rel="stylesheet" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        {{!-- {{#each jsscripts}}
        {{!-- <script src="/{{this}}"></script> --}}
        {{!-- <script src="../../public/scripts/{{this}}"></script>
        {{/each}} --}} 

    </head>
    <body>
        {{{body}}}
    </body>
</html>