  <h1 id="title">Inventory Management</h1>
  <div class="outside">
  <!--Main Layout-->
  <main>
    <!-- Main Navigation-->
    <header>
      <div class="link">
        <a href="/">Home</a>
      </div>
      <div class="link">
        <a href="inventory">Manage Inventory</a>
      </div>
      <div class="link">
        <a href="order">Manage Orders</a>
      </div>
      <div class="link">
        <a href="customer">Manage Customers</a>
      </div>
    </header>
    <section  class="formWrapper">
      <h2>Add Item to Inventory</h2>
      <form class="orderForm">
          <div class="row">
            <h2>Item Type</h2>
            <h2>Item Name</h2>
            <h2>Item Price</h2>
            <h2>Number In Stock</h2>
          </div>
          <div class="row">
            <div class="col"> 
              <span>1.</span><input id="item_Type" type="text" name="itemType"> 
            </div>
            <div class="col">
                <input id="item_Name" type="text" name="itemName"> 
            </div>
            <div class="col">
              <span>$</span><input id="price" type="number" min=0 step="0.01" name="price">
            </div>
            <div class="col">
              <input id="quantity" type="number" min=0 step="1" name="quantity">
            </div>
          </div>
        <button id="submit">Submit</button>
      </form>
    </section> 
  </div>
  </main>
  <script src="scripts/addItem.js"></script>