  <h1 id="title">Order Management</h1>
  <div class="outside">
  <!--Main Layout-->
  <main>
    <!-- Main Navigation-->
    <header>
      <div class="link">
        <a href="/">Home</a>
      </div>
      <div class="link">
        <a href="inventory">Manage Inventory</a>
      </div>
      <div class="link">
        <a href="order">Manage Orders</a>
      </div>
      <div class="link">
        <a href="customer">Manage Customers</a>
      </div>
    </header>
    <section  class="formWrapper">
      <h2>Form for a New Order</h2>
      <form class="orderForm">
        <div class="orderDate">
          <label for="oDate">Order Date </label><br>
          <input id="date" name="oDate" type="date">
        </div>
        <div>
          <label for='customer'>Customer Placing Order</label>
          <select id="customer"></select>
        </div>
        <div class="orderItems">
         <table id="table-body">

         </table>
          <p>Discount is a percentage as a whole number. So if the discount is 50% input 50</p>
        </div>
          <button id="submit">Submit</button>
      </form>
    </section> 
  </div>
  </main>
  <script src="scripts/addOrder.js"></script>