<h1 id="title">Customer Management</h1>
<div class="outside">
<!--Main Layout-->
<main>

<!-- Main Navigation-->

<header>
<div class="link">
    <a href="/">Home</a>
</div>
<div class="link">
    <a href="/inventory">Manage Inventory</a>
</div>
<div class="link">
    <a href="/order">Manage Orders</a>
</div>
<div class="link">
    <a href="">Manage Customers</a>
</div>
</header>

  <h2 id="table-title">My Existing Customers</h2>

  <table id="table-body"></table>

<button class="add" onclick="window.location.href='addCustomer.handlebars'">Add New Customer</button>

</main>
</div>
<script src="scripts/customer.js"></script>