<h1 id="title">Penguin's Emporium</h1>
  <div class="outside">
  <!--Main Layout-->

  <main>
    <!-- Main Navigation-->
    <header>
      <div class="link">
        <a href="">Home</a>
      </div>
      <div class="link">
        <a href="./inventory.handlebars">Manage Inventory</a>
      </div>
      <div class="link">
        <a href="order.handlebars">Manage Orders</a>
      </div>
      <div class="link">
        <a href="customer.handlebars">Manage Customers</a>
      </div>
    </header>

    <div class="welcomeMsg">
      <h2>Penguin's Emporium: Store Management </h2>
      <div class="message">
        <br>
          <p>Allows the artist to control the current inventory, look at orders from customers, check current customers
            as well as add new ones if needed. This site works in conjunction with another site that customers 
            enter information into and create new orders. 
          </p>
      </div>