/*General Styles*/
html{
  font-size: 62.5%;
}

body{
  background-color: #EDEBF2;
  padding: 0;
  margin: 0;
}

footer{
  display: flex;
  justify-content: center;
}

header{
  text-align: center;
  background-color: #5233CC;
  color: #FAFAE4;
}

a{
  color: inherit;
  text-decoration: none;
  padding: 10px;
  font-size: 2rem;
}

a:hover{
  text-decoration: underline;
  color:inherit;
}

span{
  font-size: 1.75rem;
}

h2{
  font-size: 3rem;
  font-weight: bold;
}

h3{
    font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

.jewlery{
  height:300px;
  width: 300px;
}

.message{
  margin: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border: solid 15px #5233CC;
  outline: solid 15px black;
  outline-offset: 5px;
  background-color: #FAFAE4;
}

.outside{
  border: solid black 3em;
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-width: 1000px;
  min-height: 1000px;
  text-align: center;
}

.link{
  display: inline-block;
  margin:5px;
  padding: 20px;
  text-decoration-color: #8860D0;
}

.link:hover{
  transform: scale(1.25);
}

.outsideWrapper{
  padding-left: 29%;
  padding-top: 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

/*main styles*/
.welcomeMsg{
  text-align: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

#title{
  text-align: center;
  justify-content: center;
  background-color: black;
  color: #5233CC;
  font-weight: bolder;
  font-size: 5em;
  margin: 0;
  padding-top: 10px;
  text-shadow: -1px -1px 0 #FAFAE4,
      1px -1px 0 #FAFAE4,
      -1px 1px 0 #FAFAE4,
      1px  1px 0 #FAFAE4;
}

/*Inventory Styles*/
/*table styles*/
#myInput {
  width: 90%;
  font-size: 1.6rem;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.tableWrapper{
  text-align: center;
}

.tableWrapper h2{
  font-size: 3rem;
}

.tableHeader th{
  font-size: 2rem;
}

table th{
  width: 2%;
  font-size: 1.5rem;
}

button{
    margin: 2%;
}

td{
  font-size: 1.5rem;
}


/*addCustomer styles*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 1.5rem;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

td{
  padding: 1%;
}

#checkbox-1{
  width: 2%;
}

#checkboxLabel{
  display: inline;
}

.checkboxDiv{
  text-align: center;
  margin: 3%;
}

/*addOrder styles*/
#myInput {
  width: 90%;
  font-size: 1.6rem;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.col{
  max-width: 16.5%;
}

.row{
  margin: 3% 0;
}

/*Order Form section styles*/
.formWrapper{
  text-align: center;
  margin: 5%;
  padding: 5%;
}

.formWrapper h2{
  font-size: 2.5rem;
}

form{
  border: 2px solid #5233CC;
  padding: 5%;
}

label{
  font-size: 2rem;
  margin: 2%;
}


.name{
  margin: 5%;
  text-align: left;
}

input{
  width: 80%;
  font-size: 2rem;
}

.dob, .orderDate{
  text-align: left;
  margin: 4.5%;
}

.dob input{
  font-size: 1.75rem;
}

.orderItems input{
  width: 30%;
}

.orderItems{
  border: 2px solid black;
  padding: 2%;
  text-align: center;
}

.row{
  text-align: center;
  justify-content: space-around;
}

.col span{
  margin-right: 5%;
}

.col input{
  width: 80%;
}


.submit{
  margin: 5%;
}
